html { }
body { } 
.surfaces { display: flex; 
    flex-direction: row;
    overflow-x: hidden;
    height: 90vh
} 
.land{ 
    width: calc(100%/3);
    background-color: brown;
    height: 100%;
    border: 10px solid white;
    

} 
.sea {
    width: calc(100%/3);
    background-color: blue;
    height: 100%;
    border: 10px solid white;
} 
.air {
    width: calc(100%/3);
    background-color: cadetblue;
    height: 100%; 
    border: 10px solid white;
}